---
import Layout from '../layouts/Layout.astro';
import HeroProject from '../components/HeroProject.astro';
import Footer from '../components/Footer.astro';
import TopNav from '../components/TopNav.astro';
import ProjectDetails from '../components/ProjectDetails.astro';
import FeaturedAwala from '../assets/featured-awala.png';
import AwalaOldWebsite from '../assets/awala-old-website.gif';
import VPNHero from '../assets/vpn-hero.gif';
import AwalaHero from '../assets/awala-hero.png';
import AwalaNetwork from '../assets/awala-network.gif';
import AwalaCTA from '../assets/awala-cta.png';
import AwalaFounder from '../assets/awala-founder.png';
import AwalaResponsive from '../assets/awala-responsive.png';
import { Image } from 'astro:assets';

---

<Layout title="Awala Website Redesign" description="Designed and built a multi-language marketing website for Awala, a technology to circumvent Internet censorship, significantly increasing traffic by 4x and user engagement by 20% in 6 months.">
	<TopNav />
	<HeroProject 
		title="Awala Website Redesign" 
		subtitle="Designed and built a multi-language marketing website for Awala, a technology to circumvent Internet censorship, significantly increasing traffic by 4x and user engagement by 20% in 6 months."
		imageSrc={FeaturedAwala}
		imageAlt="Awala Website Redesign Hero Image"
	/>
	<ProjectDetails 
	tools='Figma, FigmaJam, Illustrator, Cursor, Astro, TailwindCSS, React, Jira, Google Analytics, Google Search Console, Ahrefs.' 
    team='Product Designer, Tech Lead'
	timeline='April - June 2024' 
	role={[
		'I led the end-to-end redesign of the website, with responsibilities including:', 
        '•	Conducted user and market research.',
        '•	Contributed to the user flows and the information architecture.',
        '•	Created wireframes, visual design, including custom illustrations.',
        '•	Collaborated closely with the Tech Lead to build the responsive multilingual site.',
        '•	Co-led the go-to-market (GTM) strategy with a strong focus on SEO.',
	]}
	overview={[
		'Awala is both a platform for building apps that can exchange data without the internet, and a VPN that directly targets the Great Firewall of China, effectively bypassing all forms of network-level censorship. With the commercial launch of Awala VPN, Awala needed to reposition its website as a strategic marketing platform to support product adoption and market entry.',
       
	]}
	liveUrl='https://awala.app/en/'
	buttonText='Visit live website'
	/>
    <section class="border-t border-neutral-700 py-8 md:py-16">
        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
            <div class="grid grid-cols-1 md:grid-cols-[2fr_3fr] gap-8 md:gap-16">
                <div class="space-y-4">
                    <h2 class="text-2xl md:text-[2.5rem] font-semibold pb-2">Problem statement</h2>
                    <p>As the original Awala website was solely as an informational resource, its limitations became more apparent with the introduction of Awala VPN as a commercial product. It lacked the clarity, structure, and marketing focus needed to effectively drive awareness and adoption. </p>
                    <p>Additionally, dense text, poor visual hierarchy, limited content, and low SEO performance further contributed to low user engagement and minimal traffic.
                    </p> 
                </div>
                <div>
                    <Image src={AwalaOldWebsite} alt="Awala Wireframe" class="w-full h-auto" />
                </div>
            </div>
        </div>
    </section>

    <section class="border-t border-neutral-700 py-8 md:py-16">
        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
            <div class="grid grid-cols-1 md:grid-cols-[2fr_3fr] gap-8 md:gap-16">
                <h2 class="text-2xl md:text-[2.5rem] font-semibold pb-2">The goal</h2>
                <div>
                    <p>The primary goal of the redesign was to reposition Awala's website as a strategic marketing tool to support the commercial launch of Awala VPN. This meant moving beyond an informational experience to one that could clearly communicate product value, build brand and drive product adoption.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="border-t border-neutral-700 py-8 md:py-16 space-y-8 md:space-y-16">
        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
			<h2 class="text-3xl md:text-[2.5rem] font-semibold text-center mb-8 md:mb-16">Key design solutions</h2>
		</div>
        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
            <div class="grid grid-cols-1 md:grid-cols-[2fr_3fr] gap-8 md:gap-16 items-center">
                <div class="space-y-4">
                    <h3 class="text-2xl md:text-3xl font-semibold">Clear, bold value proposition in the hero</h3>
                    <p>The hero section had a simple content structure with bold, concise headlines to communicate Awala's purpose and benefits, including social proof (e.g. Mozilla Builders, Oxford) to build credibility.</p>
                    
                </div>
                    <Image src={AwalaHero} alt="Awala Wireframe" class="w-full h-auto" />
            </div>
        </div>

        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
            <div class="grid grid-cols-1 md:grid-cols-[3fr_2fr] gap-8 md:gap-16 items-center">
                <div class="order-last md:order-first">
                    <Image src={AwalaNetwork} alt="Awala Network" class="w-full h-auto" />
                </div>
                <div class="space-y-4">
                    <h3 class="text-2xl md:text-3xl font-semibold">Modern visual design and branding</h3>
                    <p>Crafted a bold visual identity using custom illustrations to balance the serious mission with a welcoming tone. I used bold headlines, generous whitespace, icons and a consistent color palette of deep blues and vibrant yellows to create visual contrast and clarity.</p>
                </div>
            </div>
        </div>

        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
            <div class="grid grid-cols-1 md:grid-cols-[2fr_3fr] gap-8 md:gap-16 items-center">
                <div class="space-y-4">
                    <h3 class="text-2xl md:text-3xl font-semibold">Strategic CTAs and conversion funnels</h3>
                    <p>Strategically placed, high-contrast call-to-action buttons throughout the site encourage downloads and newsletter signups.</p>            
                </div>
                <Image src={AwalaCTA} alt="Awala CTA" class="w-full h-auto" />
            </div>
        </div>

        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
            <div class="grid grid-cols-1 md:grid-cols-[3fr_2fr] gap-8 md:gap-16 items-center">
                <div class="order-last md:order-first">
                    <Image src={VPNHero} alt="VPN Hero" class="w-full h-auto rounded-lg" />
                </div>
                <div class="space-y-4">
                    <h3 class="text-2xl md:text-3xl font-semibold">Interactive hero section on the Awala VPN page</h3>
                    <p>To instantly communicate the core value of Awala VPN, I introduced a typing animation in the hero section that simulates real-time access to blocked platforms.</p>
                        <p>This interactive element quickly conveys utility, builds anticipation, and aligns with user needs.</p>
                </div>
            </div>
        </div>

        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
            <div class="grid grid-cols-1 md:grid-cols-[2fr_3fr] gap-8 md:gap-16 items-center">
                <div class="space-y-4">
                    <h3 class="text-2xl md:text-3xl font-semibold">Enhanced credibility and social proof</h3>
                    <p>Added a personal founder message, highlighted reputable funders, and emphasized the open-source nature of the project to build trust.</p>

                    
                </div>
                    <Image src={AwalaFounder} alt="Awala Wireframe" class="w-full h-auto" />
            </div>
        </div>
        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8 text-base md:text-xl">    
            <div class="space-y-4">
                <h3 class="text-xl md:text-3xl font-semibold">Designed and built for all devices</h3>
                <p>Implemented a responsive design system that ensures a consistent and accessible experience across mobile, tablet, and desktop. This was essential for maximising reach and usability.</p>
            </div>

            <div class="mt-8 grid grid-cols-1 md:grid-cols-1 gap-4 md:gap-8 items-center">
                <Image src={AwalaResponsive} alt="Awala Responsive" class="w-full h-auto" />
            </div>
        </div>
    </section>

    <section class="border-t border-neutral-700 py-8 md:py-16">
        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
            <div class="grid grid-cols-1 md:grid-cols-[2fr_3fr] gap-4 md:gap-8">

                    <h2 class="text-2xl md:text-3xl font-semibold">Site implementation</h2>
                    

                <div class="space-y-4">
                    <p>I built the fully responsive site using Astro, Tailwind CSS, and React, in close collaboration with the tech lead, who reviewed the code and provided technical guidance throughout the process.</p>
                <p>I also integrated OG tags, JSON schema, and optimised the site for SEO by conducting keyword research with Ahrefs, refining titles and meta descriptions, and optimising images.</p>
                </div>
                </div>
            </div>
        </div>
    </section>

    <section class="border-t border-neutral-700 py-8 md:py-16">
        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
            <div class="grid grid-cols-1 md:grid-cols-[2fr_3fr] gap-4 md:gap-8">

                    <h2 class="text-2xl md:text-3xl font-semibold">Project outcome</h2>
                    

                <div>
                    <p>Within six months of launch, site traffic increased by 4X, and user engagement rose by 20%.
                    </p>
                </div>
            </div>
        </div>
    </section>

	<Footer />
</Layout>