---
import Layout from '../layouts/Layout.astro';
import HeroProject from '../components/HeroProject.astro';
import Footer from '../components/Footer.astro';
import TopNav from '../components/TopNav.astro';
import ProjectDetails from '../components/ProjectDetails.astro';
import EvMockups from '../assets/ev-mockups.png';
import FeaturedEv from '../assets/featured-ev.png';
import EvScreens from '../assets/ev-screens.png';
import EvBanner from '../assets/ev-banner.png';
import MceBanner from '../assets/mce-banner.png';
import SiliconValley from '../assets/silicon-valley.png';
import Volkswagen from '../assets/volkswagen.png';
import NationalGrid from '../assets/national-grid.png';
import { Image } from 'astro:assets';

---

<Layout title="Awala Website Redesign" description="Designed and built a responsive multi-language marketing site for Awala, a platform to build offline-compatible apps, significantly increasing traffic by 4x and user engagement by 20% in 6 months.">
	<TopNav />
	<HeroProject 
		title="Ev.energy Website Redesign" 
		subtitle="Designed and built a responsive multi-language marketing site for Ev.energy, a platform to build offline-compatible apps, significantly increasing traffic by 4x and user engagement by 20% in 6 months."
		imageSrc={FeaturedEv}
		imageAlt="Ev.energy Website Redesign Hero Image"
	/>
	<ProjectDetails 
	tools='Figma, FigmaJam, Notion, Jira, Maze, Loom, Lottie, Adobe Illustrator, GitHub.' 
	timeline='June 2021 - Dec 2022' 
	role={[
		'Product Designer', 
	]}
	overview={[
		'At ev.energy, I worked on the core product team to design a mobile app that helps users charge their Electric Vehicles (EVs) cleaner, cheaper, and smarter. The app is used globally and white-labelled by major partners like Volkswagen, National Grid, and Silicon Valley Clean Energy.',
       
	]}
	/>
    <section class="py-16 border-t border-neutral-700">
        <div class="max-w-screen-2xl mx-auto flex flex-col md:flex-row justify-between items-center px-8">
            <div class="md:w-1/2 mb-10 md:mb-0">
                <h2 class="text-4xl font-bold leading-tight mb-4">My impact on ev.energy</h2>
                <ul class="list-disc space-y-5 pt-8 pl-4">
                    <li>Collaborated with PMs, designers, and engineers in an Agile environment to scope, design and deliver major features that improved the native app’s user experience.</li>
                    <li>Redesigned the Charge History interface to improve content structure and visual clarity, leading to higher user satisfaction reflected in app store reviews and usability testing.
                    </li>
                    <li>Partnered with UX researchers to run tests of design prototypes.</li>
                    <li>Contributed to the app’s design system to support scalability, consistency, and efficiency across teams.
                    </li>
                    <li>Designed customisable white-label versions of the app, adapting user flows and UI to meet diverse client needs while maintaining brand consistency.</li>
                    <li>Produced detailed handoff documentation to support the developers’ execution of the design requirements.</li>
                    <li>Designed App Store/Google Play assets, marketing landing pages and other collateral for ev.energy and its partners.</li>
                   </ul> 
            </div>
            <div class="md:w-1/2">
                <Image src={EvMockups} alt="Ev Mockups" class="w-full h-auto" />
            </div>
        </div>
    </section>

    <section class="border-t border-neutral-700 py-8 md:py-16">
        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8 text-left space-y-8">
            <div class="space-y-4">
                <h2 class="text-2xl md:text-3xl font-semibold">Work examples</h2>
            </p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-8 max-w-screen-2xl mx-auto">
                <Image src={EvScreens} alt="Ev Screens" />
                <Image src={EvBanner} alt="Ev Banner" />
                <Image src={Volkswagen} alt="Volkswagen" />
                <Image src={NationalGrid} alt="National Grid" />
                <Image src={MceBanner} alt="Mce Banner" />
                <Image src={SiliconValley} alt="Silicon Valley" />         </div>
            </div>
            <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8 text-left space-y-8">
                <div class="space-y-4 mt-8 md:mt-12">
                    <h2 class="text-2xl md:text-3xl font-semibold">Project outcome</h2>
                        <p>Since launch, the redesigned VeraId website has delivered measurable results. Within two months, site traffic increased by 60%. </p>
                </div>
                </div>
        </section>
	<Footer />
</Layout>