---
import Layout from '../layouts/Layout.astro';
import HeroProject from '../components/HeroProject.astro';
import Footer from '../components/Footer.astro';
import TopNav from '../components/TopNav.astro';
import ProjectDetails from '../components/ProjectDetails.astro';
import PaperchaseThumbnail from '../assets/paperchase-thumbnail.png';
import Wireframing from '../assets/wireframing.png';
import Research from '../assets/research.png';
import Sitemap from '../assets/sitemap.png';
import Image01 from '../assets/image1.jpg';
import Image02 from '../assets/image2.jpg';
import Image03 from '../assets/image3.jpg';
import Image04 from '../assets/image4.jpg';
import Image05 from '../assets/image5.jpg';
import Image06 from '../assets/image6.png';

import { Image } from 'astro:assets';

---

<Layout title="Paperchase Website Redesign" description="Designed and built a multi-language marketing website for Paperchase, a technology to circumvent Internet censorship, significantly increasing traffic by 4x and user engagement by 20% in 6 months.">
	<TopNav />
	<HeroProject 
		title="Paperchase Website Optimisation" 
		subtitle="Optimised UX & checkout flow leading to 20% boost in user engagement & seamless shopping experience."
		imageSrc={PaperchaseThumbnail}
		imageAlt="Paperchase Website Redesign Hero Image"
	/>
	<ProjectDetails 
	tools='Figma, Maze, Photoshop, Asana, Slack, Google Analytics.' 
    team='UX/UI Designer, Project Manager, Web Developer, Content Writer, SEO Specialist'
	timeline='2021' 
	role={[
		'• Lead the UX design process, from concept ideation to final delivery.', 
        '• Communicated design concepts, and rationale effectively to stakeholders.',
        '• Collaborated closely with the web developer to ensure smooth and high-quality implementation.',
        '• Established a design system to ensure consistency and scalability across the website.',
	]}
	overview={[
		'Paperchase is a leading stationery retailer with over 125 stores across the UK and international presence in Europe, the USA, and the UAE. The brand sought to revitalise its e-commerce experience to reflect its in-store charm while improving engagement and driving conversions across digital platforms.',
       
	]}
	/>
    <section class="border-t border-neutral-700 py-8 md:py-16">
        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
            <div class="grid grid-cols-1 md:grid-cols-[2fr_3fr] gap-2 md:gap-16">
                <h2 class="text-2xl md:text-[2.5rem] font-semibold pb-2">Problem statement</h2>
                <div>
                    <p>Paperchase’s digital experience failed to reflect the delight and ease of its in-store experience. User engagement was low, and the checkout process had high abandonment rates, leading to missed revenue opportunities.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="border-t border-neutral-700 py-8 md:py-16">
        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
            <div class="grid grid-cols-1 md:grid-cols-[2fr_3fr] gap-2 md:gap-16">
                <h2 class="text-2xl md:text-[2.5rem] font-semibold pb-2">Goals and objectives</h2>
                <div>
                    <p>The main goals were to elevate the visual and user experience to match the brand's identity, increase product discoverability and user engagement, optimise the checkout process to reduce drop-offs, and create a scalable, consistent design system for future growth.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="border-t border-neutral-700 py-8 md:py-16 space-y-8 md:space-y-16">
        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
			<h2 class="text-3xl md:text-[2.5rem] font-semibold text-center mb-8 md:mb-16">Design approach</h2>
		</div>
        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
            <div class="grid grid-cols-1 md:grid-cols-[2fr_3fr] gap-2 md:gap-16 items-center">
                <div class="space-y-4">
                    <h3 class="text-xl md:text-[1.6rem] font-semibold leading-tight">Discovery phase</h3>
                    <p>The project began by gaining a holistic view of customer pain points and business needs:</p>
                    <ul class="list-disc list-outside ml-5 space-y-4">
                        <li>Data analysis of current site metrics revealed drop-off points and usability issues.</li>
                        <li>Conducted empathy mapping with internal teams to align on user personas and understand their goals and frustrations.</li>
                        <li>Reviewed post-purchase surveys and other qualitative feedback to identify recurring themes.</li>
                        <li>Balanced user needs with commercial goals and technical constraints, building a foundation for user-informed decisions.</li>
                    </ul>
                </div>
                    <Image src={Research} alt="Research" class="w-full h-auto" />
            </div>
        </div>

        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
            <div class="grid grid-cols-1 md:grid-cols-[3fr_2fr] gap-2 md:gap-16 items-center">
                <div class="order-last md:order-first">
                    <Image src={Sitemap} alt="Sitemap" class="w-full h-auto" />
                </div>
                <div class="space-y-4">
                    <h3 class="text-xl md:text-[1.6rem] font-semibold leading-tight">Define phase</h3>
                    <p>Synthesising our findings helped clarify the core problems and shape the design direction:</p>
                    <ul class="list-disc list-outside ml-5 space-y-4">
                        <li>Mapped customer journeys to identify friction and prioritise improvements.</li>
                        <li>Developed an updated site architecture that improved navigation and discoverability.</li>
                        <li>Conducted competitor analysis to benchmark features and usability best practices.</li>
                        <li>Collaborated across departments to align categorisation and taxonomy based on customer expectations.</li>
                    </ul>
            </div>
        </div>

        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8 mt-16">
            <div class="grid grid-cols-1 md:grid-cols-[2fr_3fr] gap-2 md:gap-16 items-center">
                <div class="space-y-4">
                    <h3 class="text-xl md:text-[1.6rem] font-semibold leading-tight">Ideation & Design phase</h3>
                    <p>With clarity on user needs and business priorities, the design phase focused on elevating the experience:</p>
                    <ul class="list-disc list-outside ml-5 space-y-4">
                        <li>Performed a UI audit to assess consistency, accessibility, and brand alignment.</li>
                        <li>Created low-to-high fidelity wireframes to validate layout, navigation, and functionality.</li>
                        <li>Defined a scalable design system to ensure visual and functional consistency across platforms.</li>
                        <li>Worked closely with developers to validate feasibility and scope for MVP and phased releases.</li>
                    </ul>
                </div>
                <Image src={Wireframing} alt="Wireframing" class="w-full h-auto" />
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-8 max-w-screen-2xl mx-auto pb-0 md:pb-4 mt-12">
                <Image src={Image01} alt="Wireframes" />
                <Image src={Image02} alt="Wireframes" />
                <Image src={Image03} alt="Wireframes" />
                <Image src={Image04} alt="Wireframes" />
                <Image src={Image05} alt="Wireframes" />
                <Image src={Image06} alt="Wireframes" />
            </div>
        </div>
    </section>


    <section class="border-t border-neutral-700 py-8 md:py-16">
        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
            <div class="grid grid-cols-1 md:grid-cols-[2fr_3fr] gap-4 md:gap-8">

                    <h2 class="text-2xl md:text-3xl font-semibold">Project outcomes</h2>

                <div class="space-y-4">
                    <p>The redesigned experience delivered clear, measurable improvements:</p>
                        <ul class="list-disc list-outside ml-5 space-y-4">
                            <li>20% increase in user engagement through simplified navigation and cleaner UI.</li>
                            <li>A more intuitive checkout flow, reducing drop-offs and increasing conversions.</li>
                            <li>Users reported a digital experience that better reflected the delight and brand feel of in-store shopping.</li>
                            <li>A/B testing and feedback loops validated key design decisions and highlighted successful enhancements.</li>
                        </ul>
                        <p>The redesign strengthened Paperchase’s digital presence and provided a scalable foundation for future growth. It was a truly collaborative effort that balanced user needs with business impact—driven by research, iteration, and a shared vision across teams.</p>
                </div>
            </div>
        </div>
    </section>

	<Footer />
</Layout>