---
import Layout from '../layouts/Layout.astro';
import HeroProject from '../components/HeroProject.astro';
import Footer from '../components/Footer.astro';
import TopNav from '../components/TopNav.astro';
import ProjectDetails from '../components/ProjectDetails.astro';
import FeaturedVeraid from '../assets/featured-veraid.png';
import VeraidOldWebsite from '../assets/veraid-old-website.gif';
import VeraidHero from '../assets/veraid-hero.gif';
import HowItWorks from '../assets/how-it-works.gif';
import { Image } from 'astro:assets';

---

<Layout title="VeraId Website Redesign" description="Designed and built a marketing website for VeraId, an offline authentication protocol, significantly increasing traffic by 60% in 2 months.">
	<TopNav />
	<HeroProject 
		title="VeraId Website Redesign" 
		subtitle="Designed and built a marketing website for VeraId, an offline authentication protocol, significantly increasing traffic by 60% in 2 months."
		imageSrc={FeaturedVeraid}
		imageAlt="Veraid Website Redesign Hero Image"
	/>
	<ProjectDetails 
	tools='Figma, FigmaJam, Cursor, Astro, React, TailwindCSS, Google Analytics, Google Search Console, Jira.' 
	timeline='Early 2025' 
    team='Product Designer, Tech Lead'
	role={[
		'Redesigned and implemented the new VeraId marketing website, in close collaboration with the Tech Lead. I also co-led the GTM strategy, including SEO.', 
	]}
	overview={[
		'VeraId is a decentralised, offline-first authentication protocol originally developed for humanitarian use. As the project transitioned toward commercialisation, its website needed to evolve from a purely informational resource to a marketing-driven platform.',
       
	]}
	liveUrl='https://veraid.net/'
	buttonText='Visit live website'
	/>

<section class="border-t border-neutral-700 py-8 md:py-16">
    <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-[2fr_3fr] gap-8 md:gap-16 items-center">
            <div class="space-y-4">
                <h2 class="text-2xl md:text-[2.5rem] font-semibold pb-2">Problem statement</h2>
                <p>As the previous VeraId website was purely for informational purposes, it didn't fully reflect the product's technical sophistication. Visually, it relied on dense text and lacked clear visual hierarchy.</p>
                <p>Additionally, limited content, minimal promotion, and low SEO visibility contributed to low engagement and traffic.</p>
            </div>
                <Image src={VeraidOldWebsite} alt="Veraid Old Website" class="w-full h-auto rounded-lg" />
        </div>
    </div>
</section>

<section class="border-t border-neutral-700 py-8 md:py-16">
        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
            <div class="grid grid-cols-1 md:grid-cols-[2fr_3fr] gap-8 md:gap-16">

                    <h2 class="text-2xl md:text-[2.5rem] font-semibold pb-2">Goals & objectives</h2>

                <div>
                    <p>The main goal of the redesign was to transform VeraId's website into an engaging, modern marketing site. Key objectives included clearly communicating the product's value proposition, simplifying complex technical concepts, and establishing credibility with a developer audience.

                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="border-t border-neutral-700 py-8 md:py-16 space-y-8 md:space-y-16">
        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
			<h2 class="text-3xl md:text-[2.5rem] font-semibold text-center mb-8 md:mb-16">Key design solutions</h2>
		</div>
        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
            <div class="grid grid-cols-1 md:grid-cols-[2fr_3fr] gap-8 md:gap-16 items-center">
                <div class="space-y-4">
                    <h3 class="text-2xl md:text-3xl font-semibold">Making the protocol instantly understandable</h3>
                    <p>To help users quickly grasp VeraId's capabilities, we highlighted real-world verification examples, an idea contributed by the tech lead.</p>
                    <p>I translated this concept into an interactive horizontal carousel animation that cycles through these examples in a playful, developer-friendly tone.</p>
                    
                </div>
                    <Image src={VeraidHero} alt="Veraid Hero" class="w-full h-auto" />
            </div>
        </div>

        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
            <div class="grid grid-cols-1 md:grid-cols-[3fr_2fr] gap-8 md:gap-16 items-center">
                <div class="order-last md:order-first">
                    <Image src={HowItWorks} alt="How It Works" class="w-full h-auto" />
                </div>
                <div class="space-y-4">
                    <h3 class="text-2xl md:text-3xl font-semibold">Explaining a complex protocol visually</h3>
                    <p>Explaining how VeraId works was a key challenge given the protocol's technical complexity. We wanted a simpler, engaging way to communicate the concept.</p>
                    <p>After working closely with the tech lead to understand how the protocol works, I designed and built a React-based step-by-step animated flow that visually guides users through the three key verification phase.</p>
                </div>
            </div>
        </div>

        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
            <div class="grid grid-cols-1 md:grid-cols-[2fr_3fr] gap-8 md:gap-16 items-center">
                <div class="space-y-4">
                    <h3 class="text-2xl md:text-3xl font-semibold">Multi-Level top navigation for service expansion</h3>
                    <p>To accommodate VeraId's service <i>Kliento</i>, and any other services in the future, I added a multi-level top navigation structure.</p>
                    <p>To maintain brand cohesion, I applied VeraId's typography and layout framework while giving Kliento a unique color scheme to visually distinguish it.</p>                
                </div>
                <Image src={VeraidHero} alt="Veraid Hero" class="w-full h-auto" />
            </div>
        </div>

        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
            <div class="grid grid-cols-1 md:grid-cols-[3fr_2fr] gap-8 md:gap-16 items-center">
                <div class="order-last md:order-first">
                    <Image src={VeraidHero} alt="Veraid Hero" class="w-full h-auto" />
                </div>
                <div class="space-y-4">
                    <h3 class="text-2xl md:text-3xl font-semibold">Developer-centric visual language</h3>
                    <p>I implemented a dark theme paired with a monospaced font, which aligns with the expectations of a developer audience.</p>
                    <p>Bold, oversized headlines were used to establish a strong visual hierarchy and immediately draw attention to key messaging.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="border-t border-neutral-700 py-8 md:py-16">
        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
            <div class="grid grid-cols-1 md:grid-cols-[2fr_3fr] gap-8 md:gap-16">

                    <h2 class="text-2xl md:text-[2.5rem] font-semibold">Site implementation</h2>
                <div class="space-y-4">
                <p>I built the fully responsive site using Astro, Tailwind CSS, and React, in close collaboration with the tech lead, who reviewed the code and provided technical guidance throughout the process.</p>
                <p>I also integrated OG tags, JSON schema, and optimised the site for SEO by conducting keyword research, refining titles and meta descriptions, creating descriptive URLs, and optimising images.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="border-t border-neutral-700 py-8 md:py-16">
        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
            <div class="grid grid-cols-1 md:grid-cols-[2fr_3fr] gap-8 md:gap-16">

                    <h2 class="text-2xl md:text-[2.5rem] font-semibold">Project outcome</h2>
                    

                <div>
                    <p>Since launch, the redesigned VeraId website has delivered measurable results. Within two months, site traffic increased by 60%.</p>
                </div>
            </div>
        </div>
    </section>
    

	<Footer />
</Layout>