---
import Layout from '../layouts/Layout.astro';
import HeroProject from '../components/HeroProject.astro';
import Footer from '../components/Footer.astro';
import TopNav from '../components/TopNav.astro';
import ProjectDetails from '../components/ProjectDetails.astro';
import FeaturedAwala from '../assets/featured-awala.png';
import VeraidHomepage from '../assets/veraid-homepage.png';
import OldVeraid from '../assets/old-veraid.png';
import TechVeraid from '../assets/tech-veraid.png';
import Kliento from '../assets/kliento.png';
import FeaturedVeraid from '../assets/featured-veraid.png';
import VeraidHero from '../assets/veraid-hero.png';
import { Image } from 'astro:assets';

---

<Layout title="VeraId Website Redesign" description="Designed and built a responsive marketing site for VeraId, an offline authentication protocol, significantly increasing traffic by 60% in 2 months.">
	<TopNav />
	<HeroProject 
		title="VeraId Website Redesign" 
		subtitle="Designed and built a responsive marketing site for VeraId, an offline authentication protocol, significantly increasing traffic by 60% in 2 months."
		imageSrc={FeaturedVeraid}
		imageAlt="Veraid Website Redesign Hero Image"
	/>
	<ProjectDetails 
	tools='Figma, FigmaJam, Cursor, Astro, React, TailwindCSS, Google Analytics, Google Search Console, Jira.' 
	timeline='May - April 2025' 
	role={[
		'Redesigned and implemented the new VeraId marketing website, in close collaboration with the Tech Lead. I also co-led the GTM strategy including SEO.', 
	]}
	overview={[
		'VeraId is a decentralised, offline-first authentication protocol originally developed for humanitarian use. As the project transitioned toward commercialisation, its website needed to evolve from a purely informational resource to a marketing-driven platform.',
       
	]}
	liveUrl='https://veraid.net/'
	buttonText='Visit live website'
	/>
<section class="border-t border-neutral-700 py-8 md:py-16">
    <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-[3fr_3fr] gap-8 md:gap-16 items-center">
            <div class="space-y-4">
                <h2 class="text-2xl md:text-4xl font-semibold pb-4">Problem statement</h2>
                <p>As the previous VeraId website was purely for informational purposes, it didn’t fully reflect the product’s technical sophistication. Visually, it relied on dense text and lacked clear visual hierarchy, making it harder for visitors to quickly understand VeraId's value.</p>
                <p>Additionally, limited content, minimal promotion, and low SEO visibility contributed to low engagement and traffic.</p>
            </div>
                <Image src={VeraidHero} alt="Veraid Hero" class="w-full h-auto" />
        </div>
    </div>
</section>

    <section class="border-t border-neutral-700 py-8 md:py-16">
        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
            <div class="grid grid-cols-1 md:grid-cols-[2fr_3fr] gap-4 md:gap-8">

                    <h2 class="text-2xl md:text-3xl font-semibold">Goals & objectives</h2>
                    

                <div>
                    <p>The main goal of the redesign was to transform VeraId's website into an engaging, modern marketing site. Key objectives included clearly communicating the product's value proposition, simplifying complex technical concepts, and establishing credibility with a developer audience.

                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="border-t border-neutral-700 py-8 md:py-16">
        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
            <div class="grid grid-cols-1 md:grid-cols-[3fr_3fr] gap-8 md:gap-16 items-center">
                <div class="space-y-4">
                    <h2 class="text-2xl md:text-4xl font-semibold pb-4">Making the protocol instantly understandable</h2>
                    <p>To help users quickly grasp VeraId’s capabilities, we highlighted real-world verification examples, an idea contributed by the tech lead. I translated this concept into an interactive horizontal carousel animation that cycles through these examples in a playful, developer-friendly tone.</p>
                    
                </div>
                    <Image src={VeraidHero} alt="Veraid Hero" class="w-full h-auto" />
            </div>
        </div>
    </section>

    <section class="border-t border-neutral-700 py-8 md:py-16">
        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
            <div class="grid grid-cols-1 md:grid-cols-[3fr_3fr] gap-8 md:gap-16 items-center">
                <div>
                    <Image src={VeraidHero} alt="Veraid Hero" class="w-full h-auto" />

                </div>
                <div class="space-y-4">
                    <h2 class="text-2xl md:text-4xl font-semibold pb-4">Explaining a complex protocol visually</h2>
                    <p>Explaining how VeraId works was a key challenge given the protocol’s technical complexity. While a detailed video already existed, we wanted a simpler, more accessible way to communicate the concept.</p>
                    <p>After working closely with the tech lead to understand how the protocol works, I designed and built a React-based step-by-step animated flow that visually guides users through the three key verification phase.</p>
                </div>
            </div>
        </div>
    </section>


<section class="border-t border-neutral-700 py-8 md:py-16">
        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8">
            <div class="grid grid-cols-1 md:grid-cols-[2fr_3fr] gap-8 md:gap-16">
                <div class="space-y-4">
                    <h2 class="text-2xl md:text-3xl font-semibold pb-4">Key design solutions</h2>
                    <div class="space-y-6">
                        <div>
                            <h3 class="text-lg font-bold text-white">Clear visual hierarchy & focused messaging</h3>
                            <p class="mt-2">Simplified content structure with bold headlines and concise copy that immediately communicate VeraId's purpose and benefits.</p>
                        </div>
                        <div>
                            <h3 class="text-lg font-bold text-white">Interactive carousel in hero section</h3>
                            <p class="mt-2">To make the protocol's capabilities instantly understandable, I added a horizontal carousel animation that cycles through real-world verification examples in a playful, developer-friendly tone.</p>
                        </div>
                        
                        <div>
                            <h3 class="text-lg font-bold text-white">Dark theme for a modern developer feel</h3>
                            <p class="mt-2">Dark mode isn’t just aesthetic, it’s what developers expect. It reduces eye strain and instantly aligns VeraId with the tools devs use daily (IDEs, terminals, GitHub).
                            </p>
                        </div>
                        
                        <div>
                            <h3 class="text-lg font-bold text-white">Improved information architecture</h3>
                            <p class="mt-2">Reorganized content into intuitive, scroll-friendly sections that guide users through the use cases, product's features, how it works, and call to action.</p>
                        </div>
                        
                        <div>
                            <h3 class="text-lg font-bold text-white">Enhanced credibility and social proof</h3>
                            <p class="mt-2">Added a personal founder message, highlighted reputable funders to build trust.</p>
                        </div>
                        
                        <div>
                            <h3 class="text-lg font-bold text-white">Engaging “How it works” demo</h3>
                            <p class="mt-2">Explaining VeraId’s protocol visually was a challenge, I solved it by creating a React-based interactive demo video. This turned a hard-to-explain concept into an approachable narrative.
                            </p>
                        </div>
                        
                        <div>
                            <h3 class="text-lg font-bold text-white">Multi-level top navigation</h3>
                            <p class="mt-2">Introduced a structured nav system to highlight VeraId’s broader ecosystem, including the Kliento product.
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <Image src={VeraidHomepage} alt="Veraid Homepage" class="w-full h-auto" />
                </div>
            </div>
        </div>
    </section>
    <section class="border-t border-neutral-700 py-8 md:py-16">
        <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8 text-left space-y-8">
            <div class="space-y-4">
                <h2 class="text-2xl md:text-3xl font-semibold">Site implementation</h2>
                <p>I built the final site using Astro, Tailwind CSS, and React, in close collaboration with the tech lead, who reviewed the code and provided technical guidance throughout the process.</p>
                <p>I also integrated OG tags, JSON schema, and optimised the site for SEO by conducting keyword research, refining titles and meta descriptions, creating descriptive URLs, and optimising images.</p>
                
            </p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-8 max-w-screen-2xl mx-auto">
                <Image src={TechVeraid} alt="Tech Veraid" />
                <Image src={Kliento} alt="Kliento" />
            </div>
            </div>
            <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8 text-left space-y-8">
                <div class="space-y-4 mt-8 md:mt-12">
                    <h2 class="text-2xl md:text-3xl font-semibold">Project outcome</h2>
                        <p>Since launch, the redesigned VeraId website has delivered measurable results. Within two months, site traffic increased by 60%. </p>
                </div>
                </div>
        </section>
	<Footer />
</Layout>