---
import { Image } from 'astro:assets';
import letroImage from '../assets/letro.png';
import awalaFeatured from '../assets/awala-featured.png';
import evEnergyImage from '../assets/ev-energy.png';
import aiRecipesImage from '../assets/ai-recipe.png';
import weatherAppImage from '../assets/weather-app.png';
import veraidImage from '../assets/veraid.png';
import LunariImage from '../assets/lunari.png';
import PayoutThumbnail from '../assets/payout-thumbnail.png';
---

<section class="py-12 md:py-16 lg:py-20 px-4 md:px-6" id="work">
    <div class="flex items-center justify-center gap-4 mb-8">
        <h2 class="text-3xl md:text-5xl lg:text-6xl font-bold text-center md:mb-6 lg:mb-8">Featured work</h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-12 max-w-screen-2xl mx-auto">
  
      <a href="/letro" class="overflow-hidden group">
        <div class="overflow-hidden rounded-2xl md:rounded-3xl">
          <Image 
            src={letroImage}
            alt="Bento-ya project" 
            class="w-full transition-transform duration-300 group-hover:scale-105"
          />
        </div>
        <h3 class="mt-6 text-2xl font-semibold">Letro Android App</h3>
        <p class="text-md lg:text-lg font-regular my-2 leading-normal">Led the end-to-end UI/UX design and the brand identity of Letro, an offline alternative to email.</p>
      </a>
      <a href="/awala" class="overflow-hidden group">
        <div class="overflow-hidden rounded-2xl md:rounded-3xl">
          <Image 
            src={awalaFeatured}
            alt="Bento-ya project" 
            class="w-full transition-transform duration-300 group-hover:scale-105"
          />
        </div>
        <h3 class="mt-6 text-2xl font-semibold">Awala Website Redesign</h3>
        <p class="text-md lg:text-lg font-regular my-2 leading-normal">Designed and built Awala’s multilingual marketing site, leading to a 4× increase in traffic and a 35% boost in engagement in 3 months.</p>
      </a>
      <a href="/veraid" class="overflow-hidden group">
        <div class="overflow-hidden rounded-2xl md:rounded-3xl">
          <Image 
            src={veraidImage}
            alt="Bento-ya project" 
            class="w-full transition-transform duration-300 group-hover:scale-105"
          />
        </div>
        <h3 class="mt-6 text-2xl font-semibold">VeraId Website Redesign</h3>
        <p class="text-md lg:text-lg font-regular my-2 leading-normal">Designed and implemented a website for VeraId, an offline authentication protocol, significantly increasing traffic by 60% within two months of launch.</p>
      </a>
  
      <a href="/payout-rewards-system" class="overflow-hidden group">
        <div class="overflow-hidden rounded-2xl md:rounded-3xl">
          <Image 
            src={PayoutThumbnail}
            alt="Payout Evenergy" 
            class="w-full transition-transform duration-300 group-hover:scale-105"
          />
        </div>
        <h3 class="mt-6 text-2xl font-semibold">Improving payout transparency in the ev.energy app</h3>
        <p class="text-md lg:text-lg font-regular my-2 leading-normal">Redesigned the payout rewards experience to improve transparency and trust, resulting in a 34% drop in support tickets and a 14% increase in successful payouts. </p>
      </a>
    </div>
    
  
    <div class="pt-8 md:pt-16 text-center">
      <a href="/portfolio" class="relative inline-block group text-lg font-medium px-8 py-4 rounded-full transition-all duration-300">
        <span class="absolute inset-0 rounded-full bg-gradient-to-r from-[#1cff6f] via-[#6d3bf6] to-[#00ff5e] animate-gradient bg-[length:200%_100%]"></span>
        <span class="absolute inset-[2px] rounded-full bg-[#18151F] transition-all duration-300"></span>
        <span class="relative flex items-center gap-4 text-white">
          View all projects
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-0 h-5 group-hover:w-5 transition-all duration-300 overflow-hidden">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
          </svg>
        </span>
      </a>
    </div>
  </section>

<section class="py-12 md:py-16 lg:py-20 px-4 md:px-6 bg-[#15131d]">
    <div class="flex items-center justify-center mb-2">
        <h2 class="text-3xl md:text-5xl lg:text-6xl font-bold text-center mb-4 md:mb-8">Playground</h2>
    </div>
    <p class="text-center text-lg md:text-2xl font-regular text-gray-300 mb-8 md:mb-16">A collection of projects I've built for fun and learning.</p>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 md:gap-12 max-w-screen-2xl mx-auto">
  
      <a href="https://github.com/maribelferreira/Lunari/" class="overflow-hidden group" target="_blank" >
        <div class="overflow-hidden rounded-2xl md:rounded-3xl">
          <Image 
            src={LunariImage}
            alt="Bento-ya project" 
            class="w-full transition-transform duration-300 group-hover:scale-105"
          />
        </div>
        <h3 class="mt-6 text-2xl font-semibold">Lunari (WIP)</h3>
        <p class="text-md lg:text-lg font-regular my-2 leading-normal">Currently developing an open-source, privacy-first period tracking app with local-only data storage.</p>
      </a>
  
      <a href="https://github.com/maribelferreira/ai-recipe-generator" class="overflow-hidden group" target="_blank">
        <div class="overflow-hidden rounded-2xl md:rounded-3xl">
          <Image 
            src={aiRecipesImage}
            alt="Bento-ya project" 
            class="w-full transition-transform duration-300 group-hover:scale-105"
          />
        </div>
        <h3 class="mt-6 text-2xl font-semibold">AI recipes generator web app</h3>
        <p class="text-md lg:text-lg font-regular my-2 leading-normal">Created an AI recipe generator that integrates GPT-4 to generate recipes.</p>
      </a>
      <a href="https://github.com/maribelferreira/weather-web-app" class="overflow-hidden group" target="_blank">
        <div class="overflow-hidden rounded-2xl md:rounded-3xl">
          <Image 
            src={weatherAppImage}
            alt="Bento-ya project" 
            class="w-full transition-transform duration-300 group-hover:scale-105"
          />
        </div>
        <h3 class="mt-6 text-2xl font-semibold">Weather Web App</h3>
        <p class="text-md lg:text-lg font-regular my-2 leading-normal">Built a dynamic web application that provides real-time weather information.</p>
      </a>
    </div>
  </section>





  