---
import { Image } from 'astro:assets';
import letroImage from '../assets/letro.png';
import awalaImage from '../assets/awala-website.png';
import evenergyImage from '../assets/ev-energy.png';
import audistarImage from '../assets/audistar.png';
import awaladDesktopImage from '../assets/awala-desktop.png';    
import naturalSafarisImage from '../assets/natural-safaris.png';
import veraidImage from '../assets/veraid.png';
import MushoImage from '../assets/musho.png';

const projects = [
  {
    title: "Letro Android App",
    description: "Led the end-to-end UI/UX design and the brand identity of Letro, an offline-compatible alternative to email.",
    image: letroImage,
    link: "/letro"
  },
  {
    title: "VeraId Website Redesign",
    description: "Designed and implemented a responsive site for VeraId, an offline authentication protocol, significantly increasing user engagement.",
    image: veraidImage, 
    link: "#"
  },
  {
    title: "Awala Website Redesign",
    description: "Designed and developed a responsive website for Awala, the all in one app to bypass Internet censorship",
    image: awalaImage, 
    link: "/awala"
  },
  
  {
    title: "EV Energy App",
    description: "Collaborated with a cross-functional team to enhance the user experience of an EV charging app, and designed customisable white-label versions of the app.",
    image:  evenergyImage,
    link: "#"
  },
  {
    title: "Awala Desktop App",
    description: "Designed the UX/UI for Awala Desktop App, a platform to build offline-compatible apps. ",
    image: awaladDesktopImage,
    link: "#"
  },

  {
    title: "Natural High Safaris",
    description: "Redesigned a bespoke website for a luxury safari and wilderness travel brand, leading to a 33% increase in user engagement.",
    image: naturalSafarisImage,
    link: "/natural-high"
  },
  {
    title: "Audistar Website Redesign",
    description: "Led the redesign of the website of Audistar, a Marketing solutions & media auditing company.",
    image: audistarImage,
    link: "#"
  },
  {
    title: "Musho",
    description: "Led the design of the Musho website, a platform for creating and sharing AI-generated images.",
    image: MushoImage,
    link: "#"
  }
];
---
<section class="px-6 md:px-8 pb-8 md:pb-16">
<div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-10 max-w-screen-2xl mx-auto">
  {projects.map(project => (
    <div>
      <a 
        href={project.link}
        class="block group"
      >
        <div class="overflow-hidden rounded-2xl lg:rounded-3xl">
          <div class="relative">
            <Image
              src={project.image}
              alt={project.title}
              class="object-cover w-full transition-transform duration-300 group-hover:scale-105"
            />
          </div>
        </div>
      </a>
      <h3 class="mt-4 text-2xl font-semibold">
        {project.title}
      </h3>
      <p class="text-md lg:text-lg font-regular my-2 leading-normal">
        {project.description}
      </p>
    </div>
  ))}
</div>
</section>