---
import { Image } from 'astro:assets';
import letroImage from '../assets/letro.png';
import awalaImage from '../assets/awala-website.png';
import evenergyImage from '../assets/ev-energy.png';
import audistarImage from '../assets/audistar.png';
import awaladDesktopImage from '../assets/awala-desktop.png';    
import naturalSafarisImage from '../assets/natural-safaris.png';


const projects = [
  {
    title: "Letro Android App",
    description: "A service like email, but end-to-end encrypted, spam-free, phishing-free and works without the Internet.",
    image: letroImage,
    link: "/"
  },
  {
    title: "Awala Website Redesign",
    description: "Designed and developed a responsive website for Awala, the all in one app to bypass Internet censorship",
    image: awalaImage, 
    link: "/"
  },
  {
    title: "EV Energy App",
    description: "Smart EV Charging Solutions",
    image:  evenergyImage,
    link: "/"
  },
  {
    title: "Awala Desktop App",
    description: "UX/UI for Awala Desktop App",
    image: awaladDesktopImage,
    link: "/"
  },

  {
    title: "Natural High Safaris",
    description: "Tailor-made safaris & wilderness travel",
    image: naturalSafarisImage,
    link: "/"
  },
  {
    title: "Audistar Website Redesign",
    description: "Redesign of the website of Audistar, a Marketing solutions & media auditing company.",
    image: audistarImage,
    link: "/"
  },
];
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-10 max-w-screen-2xl mx-auto px-6 md:px-8 pt-4 pb-10">
  {projects.map(project => (
    <div>
      <a 
        href={project.link}
        class="block overflow-hidden rounded-2xl lg:rounded-3xl transition-transform duration-300 hover:-translate-y-2 hover:shadow-xl"
      >
        <div class="relative">
          <Image
            src={project.image}
            alt={project.title}
            class="object-cover"
          />
        </div>
      </a>
      <h3 class="mt-4 text-2xl font-semibold">
        {project.title}
      </h3>
      <p class="text-md lg:text-lg font-regular my-2 leading-normal">
        {project.description}
      </p>
    </div>
  ))}
</div>
