---

import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Props {
    title?: string;
    description?: string | string[]; // Can be a single string or array of paragraphs
    imageSrc: ImageMetadata[];
    imageAlt?: string[];
    topPadding?: boolean;
}

const { 
    title, 
    description, 
    imageSrc, 
    imageAlt = imageSrc.map(() => "Project image"),
    topPadding = true
} = Astro.props;

---
<section class={`pb-8 md:pb-14 ${topPadding ? 'pt-8 md:pt-14' : ''}`}>
    <div class="max-w-screen-2xl mx-auto sm:px-6 px-6 lg:px-8 text-left">
        {title && <h2 class="text-xl md:text-4xl font-semibold mb-4">{title}</h2>}
        {description && (
            Array.isArray(description) ? (
                description.map(paragraph => (
                    <div class="text-md md:text-lg mb-4" set:html={paragraph} />
                ))
            ) : (
                <div class="text-md md:text-lg mb-4" set:html={description} />
            )
        )}
    </div>
    <div class="relative mx-auto mt-4 md:mt-8 space-y-6 md:space-y-8">
        {imageSrc.map((src, index) => (
            <div class="max-w-screen-2xl mx-auto px-4 md:px-8 flex justify-center">
                <Image 
                    class="w-full" 
                    src={src}
                    alt={imageAlt[index]}
                    width={900}
                    height={600}
                />
            </div>
        ))}
    </div>
</section>